<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="onrobot_quick_changer">

    <xacro:macro
        name="onrobot_quick_changer"
        params="
    parent
    low_poly:='true'
">
        <link name="onrobot_quick_changer_base_link">
            <visual>
                <geometry>
                    <xacro:if value="${low_poly}">
                        <mesh filename="package://par_pkg/meshes/visual/quick_changer_low_poly.dae" />
                    </xacro:if>
                    <xacro:unless value="${low_poly}">
                        <mesh filename="package://par_pkg/meshes/visual/quick_changer.dae" />
                    </xacro:unless>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://par_pkg/meshes/collision/quick_changer.stl" />
                </geometry>
            </collision>
        </link>
        <link name="onrobot_quick_changer_tool_link" />

        <joint name="onrobot_quick_changer_joint" type="fixed">
            <origin rpy="0 0 ${pi/2}" />
            <parent link="${parent}" />
            <child link="onrobot_quick_changer_base_link" />
        </joint>

        <joint name="onrobot_quick_changer_tool_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0.00234" />
            <parent link="onrobot_quick_changer_base_link" />
            <child link="onrobot_quick_changer_tool_link" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>

</robot>